<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/estilos.css">
	<title>Página inicial</title>
</head>
<body>
	<h1>Exemplos neste projeto:</h1>
	<p><a href="/login">Autenticação e autorização do usuário</a></p>
	<p><a href="/area_logada">Área logada (exclusiva) do usuário</a></p>
	<h2>Você pode tentar logar usando os seguintes usuários:</h2>
	<table>
		<tr>
			<th>Usuário</th>
			<th>Senha</th>
		</tr>
		<tr>
			<td>ana</td>
			<td>5678</td>
		</tr>
		<tr>
			<td>jose</td>
			<td>9876</td>
		</tr>
		<tr>
			<td>maria</td>
			<td>4321</td>
		</tr>
		<tr>
			<td>rafael</td>
			<td>1234</td>
		</tr>
	</table>
</body>
</html>